@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #2A8C82;
    --color-primary-3: #41BFB3;
    --color-primary-4: #275950;
    --color-primary-5: #9BF2EA;
    --color-primary-6: #2A8C82;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
} 



/* Estilo Geral do Formulário */
form {
    margin-bottom: 15px;
}

/* Estilizando os labels */
label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

/* Estilizando os campos de texto */
input[type="text"], select {
    width: 100%; /* Faz o campo ocupar toda a largura disponível */
    padding: 10px; /* Espaçamento interno */
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 8px; /* Cantos bem arredondados */
    box-sizing: border-box; /* Inclui o padding dentro da largura definida */
    background-color: #fff; /* Fundo branco */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilizando o placeholder dos campos de texto */
input[type="text"]::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
    font-style: italic;
}

/* Estilo quando o campo de texto ou select está em foco */
input[type="text"]:focus, select:focus {
    border-color: var(--color-primary-3); /* Cor da borda ao focar */
    outline: none; /* Remove a borda de foco padrão */
    box-shadow: 0 0 8px var(--color-primary-3); /* Adiciona um brilho azul ao redor */
}

/* Estilo ao clicar no botão */
.btn-default:active {
    background-color: #003f7f; /* Azul ainda mais escuro ao clicar */
    transform: scale(1); /* Volta ao tamanho original */
}

/* Estilizando o pop-up */
.popup {
    display: none; /* Esconde o pop-up inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.popup-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    padding: 10px 20px;
}

/* Estilizando o botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}


.section-title, .section-subtitle {
    text-align: center;
}


/* Estilo dos vídeos do YouTube */
.youtube-videos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.youtube-videos iframe {
    width: 45%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
}


